<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAa0J56W7zMVRgXA8tLvIEeINlar9roxSs</string>
	<key>GCM_SENDER_ID</key>
	<string>399284204047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.fbtw.inDreams.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>in-dreams-34eeb</string>
	<key>STORAGE_BUCKET</key>
	<string>in-dreams-34eeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399284204047:ios:9735413d8640a933a6297a</string>
</dict>
</plist>